*.pyc
__pycache__
.pytest_cache
.vscode
.env
.git
.gitignore
*.log
*.txt
*.sqlite
*.db
*.sql
*.pdf
*.xlsx
postgres_data
redis_data
Backup MigConta
scratch
MCon
!backend/requirements.txt
!backend/app/main.py
